{% extends "base.html.twig" %}

{% block title %}Doc{% endblock %}

{% block body %}
<h1 class="pigh1">Dokumentation kring routen game</h1>

{{ include('pig/flash.html.twig') }}


<div class="holder">
    <div class="left_column">
        <h3>Lite sudo kod till projectet:</h3>
        <pre>
        {{ include('game/sudo_kod.txt')}}
        </pre>
    </div>
     <div class="rigth_column">
        <h3>Flödeschema för hur tanken kring koden:</h3>
        <img src="{{ asset('img/fgame21.png') }}" alt="Ett flödesschema">
    </div>

</div>

<h2> Eventuella klasser som jag tror jag kommer behöva: </h2>

<h3>Bank:</h3>
<p>Bank klassen tänker jag ska hantera allt som har med baken att göra. Om den ska dra kort eller om den ska stanna, tänker mig att den ska ärva eller vara en extanstion på CardHand</p>
<h3>Player:</h3>
<p>Player klassen tänker jag ska hantera allt som har med playern att göra. Valen man kan göra. tanken är att denna ska också ärva eller var en extanstion på CardHand </p>
<h3>GameTable:</h3>
<p>Tanken med denna klass är att det är den som ska ha hand om det visuella med spelet och start och slut.</p>

{% endblock %}