{% extends "base.html.twig" %}

{% block title %}Game{% endblock %}

{% block body %}
<h1 class="g21h1">Spel 21! [start] </h1>

{{ include('pig/flash.html.twig') }}

<form method="post" action="">
    <p>
        <input type="submit" name="draw" value="Dra ett kort"
            onClick="this.form.action='{{ path('draw_21') }}';"
        >
    </p>
</form>


{% endblock %}
