{% extends "base.html.twig" %}

{% block title %}Game{% endblock %}

{% block body %}
<h1 class="pigh1">21"!</h1>

{{ include('pig/flash.html.twig') }}
<div class="spelplan">
</div>




{% endblock %}