{% extends "base.html.twig" %}

{% block title %}Game{% endblock %}

{% block body %}
<h1 class="g21h1">Spel 21!</h1>

{{ include('pig/flash.html.twig') }}
<div class="spelplan">
    <div class="player_column">
        <h3>Player</h3>
    </div>
     <div class="bank_column">
        <h3>Bank</h3>
    </div>
</div>




{% endblock %}