{% extends "base.html.twig" %}

{% block title %}Session Contetnt{% endblock %}

{% block body %}

{{ include('pig/flash.html.twig') }}

<h1>Session Contetnt</h1>
<p> the session contains:  </p>
<ul>
    {# <p> {{ sessionData }} #}
    {# app.session.all|keys #}
    {% for key in sessionKeys %}
        <li>{{ key }}</li>
    {% endfor %}
</ul>

<p> +-------------------------------------+ </p>

{% endblock %}