{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
    <ul>
        {% for product in products %}
            <li>{{ product.getName|e }} ({{ product.getId|e }}) {{ product.getValue|e }}</li>
        {% endfor %}
    </ul>
{% endblock %}