/* ======================    base    ================== */
body {
    background-color: #1e9474;
}

* {
    color: #fff;
    font-family: "Roboto", sans-serif;
}


/* =========================    header + nav    ============================================ */
header {
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .site-title {
    font-size: 4rem;
}

.navA {
    font-size: 2rem;
    display: inline-block;
    padding: 1rem 3rem;
    border-radius: 2rem;
}

.navA:hover {
    color: #fff;
    background-color: #54a5ab;
    transition-duration: 0.25s;
}

.navUl {
    display: block;
    /* flex-direction: row;
    justify-content: space-evenly; */
    text-align: center;
}


/* ============================    main    ============================================ */
img {
    width: 100%;
    border-radius: 1rem;
}

main {
    margin: 0 auto;
    max-width: 80%;
    padding: 2em;
    background-color: #1f332e;
    border-radius: 1rem;
}

ul {
    display: flex;
    flex-direction: column;
}

h1 {
    border-bottom: 4px double #ccc;
}

.holder {
    display: flex;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* text-align: center; */
}

.card {
    font-size: 8rem;
    display: inline-block;
    padding: 1rem;

}

.rigth_column {
    /* border-left: 4px double #ccc; */
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.portrait {
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.blink {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
    0%, 100% {
        background-color: red; /* Start and end color */
    }
    25% {
        background-color: blue; /* Color at 25% of the animation */
    }
    50% {
        background-color: green; /* Color at 50% of the animation */
    }
    75% {
        background-color: yellow; /* Color at 75% of the animation */
    }
}

/* ===========================   Footer    ====================================== */


footer {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

/* ===========================   pig kmom02    ====================================== */
/* body {
    margin: 0 auto;
    max-width: 800px;
    background-color: #eee;
    font-size: 2em;
} */

#input_img {
    color: #fff;
}

input {
    font-size: 1em;
    color: #333;
}

.pigh1 {
    border-bottom: 4px double green;
}

.die {
    font-size: 2em;
}

.flash-notice {
    padding: 0.5em;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}
.flash-notice:before {
    content: "ⓘ";
}

.flash-warning {
    padding: 0.5em;
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.flash-warning:before {
    content: "⚠";
}

/* ===========================   21 kmom03    ====================================== */

.g21h1 {
    text-align: center;
    border-bottom: 4px double green;
}

.spelplan {
    min-height: 20rem;
    position: relative;
    border: 2px solid #fff;
    display: flex;
}

.spelplan::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px;
    background-color: #fff;
    transform: translateX(-50%);
}

.player_column, .bank_column {
    /* border-left: 4px double #ccc; */
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
}
