{% extends "base.html.twig" %}

{% block title %}OLika Apier{% endblock %}

{% block body %}
<h1>Apier: </h1>

<p>Länkar till olika apier:
<ul>
    {% for pathLink, info in data %}
        {% if info.method == "GET" %}
            <a href="{{ pathLink }}">{{ info.description }}</a>
        {% elseif info.method == "POST" %}
            <form action="{{ pathLink }}" method="POST" class="api-form">
                {% if pathLink == 'api/deck/draw/{number}' %}
                    <input type="number" name="number" placeholder="Antal kort" required>
                {% endif %}
                {% if pathLink == 'api/library/book/{isbn}' %}
                    <input type="number" name="isbn" placeholder="ISBN nummer" required>
                {% endif %}
                <input type="submit" value="{{ info.description }}">
            </form>
        {% endif %}
    {% endfor %}
</ul>

<div id="response">
</div>

{% endblock %}

{% block javascripts %}
<script>

    document.querySelectorAll('.api-form').forEach(form => {
        form.addEventListener('submit', function(event) {
            event.preventDefault();

            const url = form.getAttribute('action');


            const formData = new FormData(form);

            fetch(url, {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('response').innerHTML = JSON.stringify(data);
            })
            .catch(error => console.error('Error:', error));
        });
    });
</script>
{% endblock %}