{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Halli hallo, välkommen!</h1>
    <p> Hej! Jag heter Wiktor och det är jag som har gjort denna sida, denna sida är skapat i samband med en kurs.</p>
    <img src="{{ asset('img/wiis22.jpg') }}" alt="Pick on me some time ago" class="portrait">
{% endblock %}