{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <h1 id="kmom01">Kmom01</h1>
    <p>Jag har haft tidigare erfarenheter utav objektorientering, så det är inget helt nytt så att säga.</p>
    <p>För att kunna komma igång med klasser och objekt i php så kan det vara bra om man vet vad en klass 
        är om inte, kolla upp det. Annars enkelt förklarat är det som en mall för att skapa objekt. Där definierar 
        klassen attribut och metoder som objekten till den klassen har.
    <p>Kodbasen, koden och strukturen till uppgiften är bra uppdelade i olika moduler. Det gör att koden får en bra
        struktur och blir lite enklare att följa.
    <p>Med tanke på artikeln så är det som jag fann lite extra intressant var kanske templating just nu. genom att 
        kolla på den översikligt.
    <p>TIl för detta kmom blir nog hur man kan använda klasser och routes i php.

    <h1 id="kmom02">Kmom02</h1>

    <h1 id="kmom03">Kmom03</h1>

    <h1 id="kmom04">Kmom04</h1>

    <h1 id="kmom05">Kmom05</h1>

    <h1 id="kmom06">Kmom06</h1>

{% endblock %}