{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <h1 id="kmom01">Kmom01</h1>
    <p>Jag har haft tidigare erfarenheter utav objektorientering, så det är inget helt nytt så att säga.</p>
    <p>För att kunna komma igång med klasser och objekt i php så kan det vara bra om man vet vad en klass 
        är om inte, kolla upp det. Annars enkelt förklarat är det som en mall för att skapa objekt. Där definierar 
        klassen attribut och metoder som objekten till den klassen har.
    <p>Kodbasen, koden och strukturen till uppgiften är bra uppdelade i olika moduler. Det gör att koden får en bra
        struktur och blir lite enklare att följa.
    <p>Med tanke på artikeln så är det som jag fann lite extra intressant var kanske templating just nu. genom att 
        kolla på den översikligt.
    <p>TIl för detta kmom blir nog hur man kan använda klasser och routes i php.

    <h1 id="kmom02">Kmom02</h1>


    <p>Arv är så att klasser kan ärva egenskaper och metoder från andra klasser så att det går att återanvända och bygga på kod. Kompositionen är så att en klass kan innehålla objekt av andra klasser för att eventuellt kunna lösa större problem. Interface är något man som gör ett kontrakt för metoder som en klass kan implementera alltefter behov. Traits är återanvändbara kundsegment som kan inkluderas i olika klasser för att möjliggöra återanvändning av kod utan att ärva från en förälder.

    <p>Jag implementerade Cards på ett väldigt likt sätt som Dice i övningen. Men satte upp Card-klassen först, sen DeckOfCards och sen CardHand, jag känner mig nöjd med det som jag gjort ännu. Jag skulle gärna vilja försöka lägga till så att det bara är en kort bild som visas istället för hur jag löste det( kulören … värde ) eller om det var tvärtom.

    <p>Så Länge tycker jag att det är lite främmande men kommer in i det mer och mer är skönt på så sätt att det blir lätt bra strukturerat, eller känns så i alla fall. 

    <p>TIL för detta kmom blir hur man jobbar med klasser och arv mm i php.</p>


    <h1 id="kmom03">Kmom03</h1>

    <p>Att göra ett flödesdiagram hjälpte mig lite i tänkandet när jag väl började koda. När jag körde fast så kunde jag gå tillbaka och kolla på det för att få tillbaka tanken på hur simpelt det kan vara. Pseudo-koningen var inte till så mycket hjälp när jag väl hade kommit in, dock hjälpte det till lite med att sätta hjärnan i tankarna kring hur flödet skulle kunna vara.</p>

    <p>Jag löste den på liknande sätt som vi gjorde innan i kursen och med lite tankar från webapp kursen. Jag känner mig i helhet rätt så nöjd med hur detta blev. Det finns saker som kan förbättras helt klart och saker som skulle kunna läggas till. Förbättringspotential som jag skulle vilja se är att jag får kontroller klasserna till att vara ännu mer tomma, för just nu vet jag inte riktigt hur jag skulle lägga upp koden annorlunda.</p>

    <p>Känslan av Symfony just nu är lite krånglig ibland men i helhet bra.</p>

    <p>TIL för detta kmom blir att göra flödesdiagram för koden som ska göras kan underlätta senare när man kör fast, så man kan enklare komma tillbaka på rätt väg.</p>


    <h1 id="kmom04">Kmom04</h1>

    <h1 id="kmom05">Kmom05</h1>

    <h1 id="kmom06">Kmom06</h1>

{% endblock %}