{% extends 'base.html.twig' %}

{% block title %}Add a book{% endblock %}

{% block body %}
<h1>Uppdatera boken</h1>

<form method="post" action="{{ path('update_book', {'id': book.getId }) }}">
    <label for="title2">Titel:</label><br>
    <input type="text" id="title2" name="title2" value=" {{ book.getTitel }}"><br>
    <br>
    <label for="isbn2">ISBN:</label><br>
    <input type="text" id="isbn2" name="isbn2" value="{{ book.getISBN }}"><br>
    <br>
    <label for="author2">Författare:</label><br>
    <input type="text" id="author2" name="author2" value="{{ book.getAuthor }}"><br>
    <br>
    <button type="submit" style="color: #333">Uppdatera
</form>

{% endblock %}
